
html {
    height: 100%
}

body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

#wrapper {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    flex-direction: column;
    -webkit-flex-direction: column
}

#row-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-direction: row
}

#main {
    flex: 1;
    flex-direction: column;
    display: flex;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
    display: -webkit-flex;
    /* border: 3px solid #dadada; */
}

div#panes-wrapper {
    flex: 1;
    -webkit-flex: 1;
    height: auto;
    position: relative
}

#panes {
    width: 100%;
    height: auto;
    position: absolute;
    height: 100%
}

div#panes>.tab-pane {
    visibility: hidden; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0;
/*     background-color: blue; */
}

div#panes>.active {
    visibility: visible
}

.full-height {
    height: 100%;
}


*nav.navbar {
    z-index: 1
}

.navbar-brand {
    /*padding: 9px*/
}

.navbar-default {
    /*background-color: #fff*/
}

#wrapper>nav {
    height: 55px;
    min-width: 960px;
    padding-right: 20px;
    margin-bottom: 0;
}

.blocklyToolboxDiv {
   background-color: rgba(239, 239, 239, 0.56);
    overflow-x: visible;
    overflow-y: auto;
    position: absolute;

}


.CodeMirror {
    font-family: monospace;
    height: 100%;
    color: black;
    border: 1px solid #E2E2E2;
}


body.simulator div#simulator {
    display: flex;
    display: -webkit-flex
}

div#simulator {
    display: none;
    width: 400px;
    background-color: #fff;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    padding: 0px;
}


div#simulator .close {
    margin-right: 10px;
    line-height: 15px
}

#simulator>.head {
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    /* height: 42px; */
    padding-left: 20px;
}

#simulator>.content {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

#simulator>.code-preview-content {
  position: relative;
  height: 100%;
}

#simulator>.code-preview-content>.diagram {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

}


.chip-thumbnail {
    padding: 20px;
}


  .gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
  }
